:root{
    --vermelho: #E50914;
    --preto: #141414;
}

/*Reset dos padrões da página*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 13px, helvetica;
    color: #FFF;
}

header .conteiner{
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'arial Black', Times;
    font-size: 25px;
}

header nav a{
    text-decoration: none;
    color: #E5E5E5;
    margin-right: 10px;
    font-size: 14px;
    font-family:'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

header nav a:hover{
    color: #FFF;
}

/*Filme Principal*/

.filme-principal{
    font-size: 1.4vw;
    background: url('/img/master-of-the-universe.png');
    
    width: 100%;
    height: 100%;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 20px;
}

.titulo{
    padding-top: 10%;
    width: 100%;
}

.botao{
    background-color: rgba(109,109,110,0.7);
    border: none;
    color: #FFF;

    justify-content: center;
    border-radius: 4px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.8rem;
    padding-left: 2rem;
    padding-right: 2.4rem;
    font-size: 1.6rem;
    font: inherit;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: #FFF;
    color: #141414;
}

.botao i{
    margin-right: 8px;
}

.conteiner{
    margin-left: 20px;
}

.filme-principal .conteiner{
    width: 40%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 4px;
}

.carrosel-filmes{
    width: 100%;
    height: 14.7vw;
    margin-top: 5px;
    margin-left: 20px;
}

.carrosel-filmes h1{
    margin-bottom: 10px;
    color: #E5E5E5;
    font-size: 25px;
    font-family:'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}